
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: auto;
    background-position: center;


}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0%;
   background-color: rgba(109, 130, 175, 0.5);  

}   

nav .logo {
    width: 130px;
    cursor: pointer;
    margin-left: 30px;

}



nav .compte {
    position: relative;
    width: 55px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    
}

nav .compte:hover {
    transform: rotateY(150deg);
    transition: 1.2s;

}


nav ul{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;

}

h1 {
    margin-top: 3%;
    font-size: 55px;
    font-weight:100;
    text-align: center;

}

nav ul li{
    margin-right: 10px;

}

ul li a{
    position: relative;
    padding: 20px 40px;
    text-decoration: none;
    color: black;
    font-size: 40px;
    
}

.animation::after {
    content: '';
    background: rgb(1, 99, 177);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transform: translate(-50%, -5px);
    transition: 0.3s;
}

.animation:hover::after {
    width: 36%;

}

.animation:active::after {
    transform: translate(-38%, -14px);
    transition: 0.3s;
    width: 57%;

}



.oui 
{  
    font-size: 0;
    border : 3px ;  
    margin-right: 30%;
    width:600px;
    height: 80%;
    background:#e6e6e68f;
    border-radius:8px;
    margin-bottom: 2%;
    margin-top: 2%;
    padding:60px 40px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative;
    border-radius: 8%;
    padding: 10%;
    transition: all .3s;
    
}

.oui:hover
{
    background-color : #e6e6e600;
    color: #000000;
}


.infos {
    margin-right: -85px;
    font-size: 35px;
    font-weight:bold;
    color: black;
    font-family: 'Montserrat',sans-serif;   

}

/*----------FOOTER----------*/

footer {
    background-color: #2c4e70;
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}


#copyright{
    display: flex;
    justify-content: center;
    border-top: #fff solid 1px;
    padding: 10px;
}

#needhelptext{
    color: white;
    font-size: 15px;
    font-weight: 100;
    margin-left: 80px;
}
#needhelplink{
    color: #fff;
    font-size: 17px;
    margin-left: 90px;

}
#needhelplink:hover{
    color: goldenrod;
}
#needhelplink:active{
    color: red;
}

#divhelp{
    
    margin-left: 10px;
}


#policonf{
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: #fff;
}
#policonf:hover{
    color: goldenrod;
}
#policonf:active{
    color: red;
}

#langue{

    margin-left: auto;
    margin-right: 10px;
}

#divtopfooter{
    display: flex;
    padding-bottom: 20px; 
}

/*----------FOOTER----------*/

/*----------TABLEAU----------*/

#divform
{
    margin-left: 15%;
    width:700px;
    height: 30%;
    background:#e6e6e68f
    ;border-radius:8px;
    margin-bottom: 2%;
    margin-top: 5%;
    padding:60px 40px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

#divform1
{
    margin-left: 65%;
    width:700px;
    height: 35%;
    background:#e6e6e68f
    ;border-radius:8px;
    margin-bottom: 2%;
    margin-top: -17.5%;
    padding:60px 40px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}

#divform2
{
    margin-left: 40%;
    width:700px;
    height: 50%;
    background:#e6e6e68f
    ;border-radius:8px;
    margin-bottom: 2%;
    margin-top: -20.1%;
    padding:60px 40px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    position:relative;
}


label
{
    font-family:'Montserrat',sans-serif;
    font-size: large;
}


input:hover
{
    background : #c7c5c5;
    color : #000000 ; 
}

p:before
{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}




span
{
    margin:0 5px 0 15px;
}



/*----------TABLEAU----------*/