body{
    background-color: rgb(182, 182, 182);
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0%;
    background-color: rgb(32, 210, 255);

}

nav .logo {
    width: 160px;
    cursor: pointer;
    margin-left: 20px;

}



nav .compte {
    position: relative;
    width: 70px;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    
}

nav .compte:hover {
    transform: rotateY(150deg);
    transition: 1.2s;

}

ul li  a::after {
    content: '';
    background: rgb(1, 99, 177);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transform: translate(-50%, -5px);
    transition: 0.3s;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;

}

ul li{
    margin-right: 10px;

}

ul li a{
    position: relative;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    font-size: 26px;
}

ul li  a::after {
    content: '';
    background: rgb(1, 99, 177);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transform: translate(-50%, -5px);
    transition: 0.3s;
}

ul li a:hover::after {
    width: 38%;

}

ul li a:active::after {
    transform: translate(-38%, -14px);
    transition: 0.3s;
    width: 57%;

}

/*----------FOOTER----------*/

footer {
    background-color: #2c4e70;
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
}


#copyright{
    display: flex;
    justify-content: center;
    border-top: #fff solid 1px;
    padding: 10px;
}

#needhelptext{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
#needhelplink{
    color: #fff;
    font-size: 17px;

}
#needhelplink:hover{
    color: goldenrod;
}
#needhelplink:active{
    color: red;
}

#divhelp{
    
    margin-left: 10px;
}


#policonf{
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    color: #fff;
}
#policonf:hover{
    color: goldenrod;
}
#policonf:active{
    color: red;
}

#langue{

    margin-left: auto;
    margin-right: 10px;
}

#divtopfooter{
    display: flex;
    padding-bottom: 20px; 
}

/*----------FOOTER----------*/