*{margin:0 auto;
}
body{
    background-image: url("../res/fond.png");

}


header{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(145, 182, 255);
}



nav{
    display: flex;
    flex-wrap: wrap;
    align-items: Center;
    width: 90%;
    padding: 30px 0 10px;


}

nav .imglogo {

    width: 90%;



}

nav .compte{
        width: 55px;
        cursor: pointer;
        margin-right: 5px;


}

nav ul{
    margin-left: 20px;
    margin-right: 0;

}

nav ul li{

        list-style: none;

}


nav ul li a{
        text-decoration: none;
        color : #4441D6;
        font-size:x-large;

}



.text{
    padding: 70px 0;
    color: white;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: Center;


}


.text a {
    display: inline-block;
    text-decoration: none;
    font-size: 3.25rem;
    border: 1px solid blue;
    border-radius: 35px;
    border-collapse: collapse;
    color : white;
    background-color: #4441D6;
    padding: 20px 25px;
    margin :  auto;
    margin-top: 200px;
    transition: color .3s;

}

.text a:hover{
    background-color: blue;
    font-size: 4rem;
}